@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("font-awesome.min.css");
	html, body, div, span, h2,  h4,  p, a, img, b, i,  ul, li,  form, label,  table,  tr, th, td, article,  header, section{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	article, header, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ul {
		list-style: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	body {
		-webkit-text-size-adjust: none;
	}
	h2{
		border-bottom: solid 1px #000;
		font-family: "微软雅黑";
	}
	
/* Box Model */
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
/* Basic */
	body {
		/*background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(0, 228, 255, 0.5) 5%, rgba(0, 255, 72, 0.45)), url("images/bg.jpg");*/
		background-image: url("images/overlay.png"), url("../images/2.jpg");
		background-repeat: repeat, no-repeat;
		
		font-family:"微软雅黑";
		font-weight: 300;
		color: #777777;
	}
		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}
	b, h2, h4 {
		font-weight: 400;
		color: #363636;
	}
	p, ul, table,form {
		margin-bottom: 2em;
	}

	
/*=========================== Table ===========================*/
	table {
		width: 100%;
	}
		table tr {
			border-bottom: solid 1px #f4f4f4;
		}
		table td {
			text-align: center;
			font-size: 15px;
			padding: 0.5em 1em 0.5em 1em;
		}
		table th {
			text-align: center;
			font-weight: 400;
			padding: 0.5em 1em 0.5em 1em;
			font-family: "微软雅黑";
			font-size: 22px;
		}
		
/*====================== Section/Article ======================*/
	section, article {
		margin-bottom: 3em;
	}
		section > :last-child, section:last-child, article > :last-child, article:last-child {
			margin-bottom: 0;
		}
	header > p {
		color: #aaa;
	}

/*=========================== Icons ==========================*/
	.icon {
		position: relative;
		text-decoration: none;
	}
		.icon:before {
			-moz-osx-font-smoothing:grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}
		.icon > .label {
			display: none;
		}

/* Nav */
	#nav a {
		position: relative;
		display: inline-block;
		color: #ffffff;
		width: 1em;
		height: 1em;
		line-height: 0.9em;
	}
		#nav a.icon:before {
			padding-right: 0;
		}

/*=========================== Panels ===========================*/
	#main {
		position: relative;
		overflow: hidden;
	}
	.panel {
		position: relative;
	}

/*========================== Desktop ==========================*/
	@media screen and (min-width: 737px) {
		
		/*======================= Basic =======================*/
			html {
				min-width: 100%;
				min-height: 100%;
			}
			body {
				width: 100%;
				min-width: 1000px;
				min-height: 100%;
				overflow-y: scroll;
				background-attachment: fixed;
				font-size: 14pt;
				line-height: 1.75em;
			}
			h2 {
				font-size: 1.8em;
				letter-spacing: -0.015em;
			}
			h4{
				font-size: 1.25em;
				letter-spacing: -0.015em;
			}

		/*================== Section/Article ==================*/
			header {
				margin: 0 0 1em 0;
			}
				header > p {
					margin: 0.5em 0 0 0;
				}

		/*====================== Wrapper ======================*/
			#wrapper {
				width: 45em;
				margin: 0 auto;
				opacity: 0.00001;
			}
				#wrapper.tall {
					padding-bottom: 6em;
				}

		/*======================== Nav =======================*/
			#nav {
				text-align: center;
				height: 4.25em;
				cursor: default;
			}
				#nav a {
					font-size: 2.5em;
					margin: 0 0.25em 0 0.25em;
					opacity: 0.35;
					outline: 0;
					-moz-transition: opacity .25s ease-in-out;
					-webkit-transition: opacity .25s ease-in-out;
					-ms-transition: opacity .25s ease-in-out;
					transition: opacity .25s ease-in-out;
				}
					#nav a:before {
						font-size: 0.8em;
					}
					#nav a:after {
						content: '';
						display: block;
						position: absolute;
						left: 50%;
						bottom: -0.75em;
						margin-left: -0.5em;
						border-bottom: solid 0em #ffffff;
						border-left: solid 0.5em transparent;
						border-right: solid 0.5em transparent;
						-moz-transition: border-bottom-width .25s ease-in-out;
						-webkit-transition: border-bottom-width .25s ease-in-out;
						-ms-transition: border-bottom-width .25s ease-in-out;
						transition: border-bottom-width .25s ease-in-out;
					}
					#nav a span {
						display: block;
						position: absolute;
						background: #222222;
						color: #ffffff;
						top: -2.75em;
						font-size: 0.3em;
						height: 2.25em;
						line-height: 2.25em;
						left: 50%;
						opacity: 0;
						-moz-transition: opacity .25s ease-in-out;
						-webkit-transition: opacity .25s ease-in-out;
						-ms-transition: opacity .25s ease-in-out;
						transition: opacity .25s ease-in-out;
						width: 5.5em;
						margin-left: -2.75em;
					}
						#nav a span:after {
							content: '';
							display: block;
							position: absolute;
							bottom: -0.4em;
							left: 50%;
							margin-left: -0.6em;
							border-top: solid 0.6em #222222;
							border-left: solid 0.6em transparent;
							border-right: solid 0.6em transparent;
						}
					#nav a:hover {
						opacity: 1.0;
					}
						#nav a:hover span {
							opacity: 1.0;
						}
					#nav a.active {
						opacity: 1.0;
					}
						#nav a.active:after {
							border-bottom-width: 0.5em;
						}

		/*====================== Panels ======================*/
			#main {
				width: 45em;
				background: #ffffff;
				box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
			}
			.panel {
				padding: 2.5em 2.5em 3.5em 2.5em;
				position: absolute;
				top: 0;
				left: 0;
				width: 45em;
			}
}
/*======================== Comment ======================*/
.post-comments {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 20px;
  padding: 0;
}
.post-comments ul {
  list-style-type: none;
  margin-left: 30px;
  padding: 0;
}
.leavecomment{
  border-bottom:solid 1px #c0c0c0;
  border-bottom-width: 100%;
  margin-bottom: 10px;
}
.comment-wrapper p {
  margin: 0;
  position: relative;
/*  border: 1px solid #CCC;*/
  padding: 3px;
  margin-bottom: 0px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  font-size:15px;
}
.comment-author {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
}
.comment-author img {
  max-width: 50px;
  -webkit-border-radius: 25px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 25px;
  -moz-background-clip: padding;
  border-radius: 25px;
  background-clip: padding-box;
  margin-right: 10px;
}
.comment-floor{
	font-size: 0.8em;
	margin-right: 10px;
}
.comment-date {
  font-size: 0.8em;
  margin-right: 10px;
}
.comment-actions {
  text-align: right;
  opacity: 0.6;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.comment-actions:hover {
  text-align: right;
  opacity: 1;
}
.comment-actions i {
  color: #333;
}
.comment-reply-btn {
  margin-left: 10px;
}
.comment-reply ul{
	list-style-type:none ;
	margin-left: 80px;
}
.reply-author{
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 5px;
}
.reply-author img{
	max-width: 40px;
	-webkit-border-radius: 20px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 20px;
    -moz-background-clip: padding;
    border-radius: 20px;
    background-clip: padding-box;
    margin-right: 10px;
}
.buttonT{
	margin-top: 10px;
}
#scoreModal{
	margin-top:20%;
}
#homeworkModal{
	margin-top:20%;
}
#scorebutton{
	text-align: center;
}
.buttongap{
	margin-right: 20px;
}
.reply-author span{
	font-size: 15px;
}
.more{
	float: right;
	position: relative;
}
